*{
    margin: 0 auto; 
    font-family:'Times New Roman', Times, serif;
}

.pattern-top{
    background-image: url("../img/pattern.png");
    height: 170px;
    background-color: cornflowerblue;
}

.logo-pattern{
    width: 25%;
    margin-top: 100px;
    padding: 10px;
}

main h4, footer strong{
    color: gray;
}

h4 span{
    color: cornflowerblue;
}

.padding{
    padding-top: 15px;
}

.size-text{
    font-size: 70%;
}

ul{
    padding-inline-start: 17px;
}

table{
    border-collapse: collapse;
    border: none;
}

table th{
    background-color:dodgerblue;
    color: white;
}

.color-table{
    background-color: lightskyblue;
}

.width-td{
    width: 25%;
}

.text-monitor{
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    height:208px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 20px;    
}

.text-graph{
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    height:208px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 20px;    
}
