*{
    margin: 0 auto; 
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

.pattern-top{
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    height: 170px;
    background-color: cornflowerblue;
    position: relative;
}

.pattern-top img{
    width: 25%;
    position: absolute;
    bottom: 0;
    padding: 10px;
}

main h4, footer strong{
    color: gray;
}

h4 span{
    color: cornflowerblue;
}

.padding{
    padding-top: 15px;
}

.size-text{
    font-size: 70%;
}

th{
    background-color:dodgerblue;
    color: white;
}

.color-table{
    background-color: lightskyblue;
}

.width-td{
    width: 25%;
}

.img-footer{
    background-image: url(../img/monitor.jpg);
    width: auto;
    text-align: center;

}

.position {
    position: relative;
}
  
.text-block {
    position: absolute;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding-top: 30px;
    padding-left: 20px;
}
